JWT_SECRET_KEY=shhhhh
UPLOAD_DIRECTORY=/path/to/upload
NODE_ENV=development

# Routing addresses
ROUTE_USER_SERVICE=localhost:31072
ROUTE_CHAT_SERVICE=localhost:31073
ROUTE_TWOFA_SERVICE=localhost:31074
